---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>n7n</title>
	</head>
	<body>
		<slot></slot>
	</body>
</html>

<style>
	body{
		padding: 1rem;
		background-color: #f0f2f5;
		margin: 0;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	}
	
	@media (max-width: 768px) {
		body {
			padding: 0.5rem;
		}
	}
</style>